<section>
    <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit reiciendis modi alias, quas numquam cum optio? Esse accusantium doloremque earum sapiente quam. Repudiandae praesentium blanditiis ea, itaque officia ullam!</p>
    </div>
</section>