<section id="blogs-section-0">
    <div class="container">
        <div class="item item-1">
            <div class="sub-item">
                <h1>Blogs</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error a, ad ipsum architecto aut delectus tempore dolor fugit! Corporis excepturi neque necessitatibus animi molestias provident dolores perferendis sapiente, fugiat quod.</p>
            <img src="images/delaney-van-R7j4x2AGpl4-unsplash.jpg" alt="cover">
            </div>
            <div class="sub-item">
                <h1>Blogs</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error a, ad ipsum architecto aut delectus tempore dolor fugit! Corporis excepturi neque necessitatibus animi molestias provident dolores perferendis sapiente, fugiat quod.</p>
            <img src="images/delaney-van-R7j4x2AGpl4-unsplash.jpg" alt="cover">
            </div>
            <div class="sub-item">
                <h1>Blogs</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error a, ad ipsum architecto aut delectus tempore dolor fugit! Corporis excepturi neque necessitatibus animi molestias provident dolores perferendis sapiente, fugiat quod.</p>
            <img src="images/delaney-van-R7j4x2AGpl4-unsplash.jpg" alt="cover">
            </div>
        </div>
        <div class="item item-2 sidebar">
            <%- include('sidebar.ejs') %>
        </div>
    </div>
</section>