<section id="contact-section-0">
    <div class="container">
        <form action="">
            <h1>Contact Us</h1>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email Address">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <a href="#" class="btn btn-0">Send Message</a>
        </form>
    </div>
</section>