<header>
    <div class="container">
        <a href="/">BRAND</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact" class="btn btn-0">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>